@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "DM Sans", sans-serif;
}
html body {
  position: relative;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  place-content: center space-around;
}
.cards .card-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 24%;
  margin: 0 50px;
}
.cards .card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards .card-header_link {
  width: fit-content;
  text-align: center;
}
.cards .card-header_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.cards .card-header_title {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}
.cards .card-location {
  font-size: 13px;
  color: #901C1C;
  margin-bottom: 5px;
}
.cards .card-description {
  font-size: 10px;
  margin-bottom: 5px;
}
.cards .card-price {
  font-size: 9px;
  color: #757575;
  margin-bottom: 5px;
}
.cards .card-price::after {
  content: "€/jour";
}
.cards .tags {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}
.tags_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border: 0.5px solid #C4C4C4;
  padding: 0px 5px;
  border-radius: 20px;
  margin-bottom: 3px;
  margin-right: 3px;
}
.tags_item:hover {
  background-color: #901C1C;
}
.tags_item:hover a {
  color: #FAFAFA;
}
.tags_item a {
  font-size: 12px;
  color: #901C1C;
}
.tags_item a::before {
  content: "#";
}

@media screen and (min-width: 992px) {
  .tags {
    margin-bottom: 0;
  }
}
.header-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.header-nav .logo {
  display: flex;
  align-items: center;
  width: calc(50% - 20px);
  margin-left: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.header-nav .logo img {
  height: 30px;
}

@media screen and (min-width: 992px) {
  .header-nav .logo {
    width: fit-content;
    padding: 30px 0;
    margin-left: 5vw;
  }
  .header-nav .logo img {
    height: 50px;
  }
}
nav {
  width: 100%;
  margin: 0 20px;
}

@media screen and (min-width: 992px) {
  nav {
    display: flex;
    align-items: center;
    height: 110px;
    width: calc(100% - 540px);
    margin: 0;
  }
}
main.photographers {
  max-width: 1400px;
  margin: 0 auto;
}
main.photographers .sitePath {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: calc(50% - 20px);
  max-width: 1200px;
  padding: 40px 0;
  margin: 0 20px;
  color: #901C1C;
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  main.photographers .sitePath {
    font-size: 28px;
    width: 300px;
    margin-right: 5vw;
  }
}
@media screen and (min-width: 1200px) {
  main.photographers .sitePath {
    font-size: 36px;
  }
}
.card__photographer {
  display: flex;
  width: calc(100% - (20px * 2));
  margin-bottom: 50px;
  margin: 0 auto;
  max-width: 850px;
}
.card__photographer-content {
  flex-grow: 1;
  padding-top: 20px;
}
.card__photographer-name {
  font-size: 36px;
  color: #D3573C;
  padding-bottom: 5px;
}
.card__photographer-location {
  font-size: 13px;
  color: #901C1C;
  padding-bottom: 5px;
}
.card__photographer-description {
  font-size: 13px;
  color: #757575;
  padding-bottom: 5px;
}
.card__photographer-link {
  font-size: 0;
}
.card__photographer-linkImg {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.card__photographer .contactLink {
  position: fixed;
  bottom: 30px;
  background-color: #901C1C;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: min-content;
  white-space: nowrap;
}
.card__photographer .contactLink a {
  color: #FAFAFA;
  font-size: 14px;
}
.card-footer .tags {
  justify-content: flex-start;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .card__photographer {
    background-color: #FAFAFA;
    margin: 0 5vw 20px;
    padding: 60px 50px;
    width: calc(100% - (5vw * 2) - 100px);
    border-radius: 5px;
    max-width: none;
  }
  .card__photographer-content {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .card__photographer-name {
    font-size: 64px;
    color: #D3573C;
    padding-bottom: 20px;
  }
  .card__photographer-location {
    font-size: 24px;
    color: #901C1C;
    padding-bottom: 20px;
  }
  .card__photographer-description {
    font-size: 18px;
    color: #757575;
    padding-bottom: 20px;
  }
  .card__photographer-link {
    position: relative;
  }
  .card__photographer-linkImg {
    height: 200px;
    width: 200px;
  }
  .card__photographer .contactLink {
    position: relative;
    height: fit-content;
    top: 0;
    background-color: #901C1C;
    border-radius: 5px;
    padding: 25px 15px;
    margin-right: 50px;
  }
  .card__photographer .contactLink a {
    color: #FAFAFA;
    font-size: 20px;
  }
  .card-footer .tags_item {
    padding: 2px 7px;
  }
  .card-footer .tags_item a {
    font-size: 18px;
  }
}
.pictureList {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  place-content: center space-around;
  padding: 10px 20px;
}
.pictureItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 0 24%;
  margin: 0 20px 10px;
}
.pictureItem-img img {
  width: 335px;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
  object-position: 50% 18%;
}
.pictureItem-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 335px;
  padding-top: 5px;
  color: #901C1C;
}
.pictureItem-contentText {
  font-size: 14px;
}
.pictureItem-contentSocial {
  display: flex;
  flex-direction: row;
  height: 14px;
  width: max-content;
}
.pictureItem-contentSocial .likes {
  place-self: center;
  padding-left: 5px;
}
.pictureItem-contentSocial .likes .fas {
  display: none;
}

@media only screen and (min-width: 992px) {
  .pictureList {
    padding: 10px 20px;
  }
  .pictureItem {
    margin: 0 50px 30px;
  }
  .pictureItem-img img {
    width: 350px;
    height: 300px;
    object-position: 50% 18%;
  }
  .pictureItem-content {
    width: 335px;
  }
  .pictureItem-contentText {
    font-size: 24px;
  }
  .pictureItem-contentSocial {
    height: 24px;
  }
  .pictureItem-contentSocial span {
    font-size: 24px;
  }
  .pictureItem-contentSocial .likes {
    padding-left: 10px;
  }
  .pictureItem-contentSocial .likes .fa-heart {
    font-size: 20px;
  }
  .pictureItem-contentSocial .likes .fas {
    display: none;
  }
}
.dropdown {
  position: relative;
  display: none;
  align-items: center;
  height: 60px;
}
.dropdownText {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.dropdownContent {
  position: absolute;
  top: 0;
  left: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #901C1C;
}
.dropdownContent a {
  display: flex;
  align-items: center;
  height: 20px;
  color: #FAFAFA;
  padding: 20px 30px 20px 20px;
}
.dropdownContent a:nth-child(2) {
  display: none;
}
.dropdownContent a:nth-child(3) {
  display: none;
}
.dropdownContent.open a:nth-child(2) {
  display: block;
}
.dropdownContent.open a:nth-child(3) {
  display: block;
}

@media only screen and (min-width: 992px) {
  .dropdown {
    display: flex;
    margin: 0 5vw 20px;
  }
}
@media only screen and (min-width: 992px) {
  .photographerInfo {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 70px;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
    background-color: #D3573C;
    padding: 20px 30px 10px;
  }
  .photographerInfo-likes {
    padding-right: 60px;
  }
  .photographerInfo-prices::after {
    position: relative;
    content: "€ / jour";
  }
}

/*# sourceMappingURL=style.css.map */
