.header-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .logo {
    display: flex;
    align-items: center;
    width: calc(50% - 20px);
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 30px;

    img {
      height: 30px;
    }
  }
}

@media screen and (min-width: $bp-tablet-lg) {
  .header-nav {
    .logo {
      width: fit-content;
      padding: 30px 0;
      margin-left: 5vw;

      img {
        height: 50px;
      }
    }
  }
}
