.card {
  &__photographer {
    display: flex;
    width: calc(100% - (20px * 2));
    margin-bottom: 50px;
    margin: 0 auto;
    max-width: 850px;

    &-content {
      flex-grow: 1;
      padding-top: 20px;
    }

    &-name {
      font-size: 36px;
      color: $color-secondary;
      padding-bottom: 5px;
    }

    &-location {
      font-size: 13px;
      color: $color-primary;
      padding-bottom: 5px;
    }

    &-description {
      font-size: 13px;
      color: $text-color-grey;
      padding-bottom: 5px;
    }

    &-link {
      font-size: 0;

      &Img {
        object-fit: cover;
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }
    }
  }

  &-footer {
    .tags{
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $bp-tablet-lg) {
  .card {
    &__photographer {
      background-color: $color-white;
      margin: 0 5vw 20px;
      padding: 60px 50px;
      width: calc(100% - (5vw * 2) - 100px);
      border-radius: 5px;
      max-width: none;

      &-content {
        display: flex;
        flex-direction: column;
        padding-top: 0;
      }

      &-name {
        font-size: 64px;
        color: $color-secondary;
        padding-bottom: 20px;
      }

      &-location {
        font-size: 24px;
        color: $color-primary;
        padding-bottom: 20px;
      }

      &-description {
        font-size: 18px;
        color: $text-color-grey;
        padding-bottom: 20px;
      }

      &-link {
        position: relative;

        &Img {
          height: 200px;
          width: 200px;
        }
      }

      .contactLink {
        position: relative;
        height: fit-content;
        top: 0;
        background-color: $color-primary;
        border-radius: 5px;
        padding: 25px 15px;
        margin-right: 50px;

        a {
          color: $color-white;
          font-size: 20px;
        }
      }
    }

    &-footer {
      .tags {
        &_item {
          padding: 2px 7px;

          a {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.picture {
  &List {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    place-content: center space-around;
    padding: 10px 20px;
  }
  
  &Item {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 0 24%;
    margin: 0 20px 10px;
    
    &-img {
      img {
        width: 335px;
        height: 190px;
        border-radius: 5px;
        object-fit: cover;
        object-position: 50% 18%;
      }

      video {
        width: 335px;
        height: 190px;
        object-fit: cover;
        border-radius: 5px;
        object-position: 50% 50%;
      }
    }

    &-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 335px;
      padding-top: 5px;
      color: $color-primary;

      &Text {
        font-size: 14px;
      }

      &Social {
        display: flex;
        flex-direction: row;
        height: 14px;
        width: max-content;

        #counter {
          position: relative;

          &::before {
            content: attr(data-value);
          }
        }

        span {
          font-size: 14px;
        }

        .likes {
          place-self: center;
          padding-left: 5px;

          .fas {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $bp-tablet-lg) {
  .picture {
    &List {
      padding: 10px 20px;
    }
  
    &Item {
      margin: 0 50px 30px;

      &-img {
        img {
          object-position: 50% 18%;
        }

        img, video {
          width: 350px;
          height: 300px;
        }
      }

      &-content {
        width: 335px;

        &Text {
          font-size: 24px;
        }

        &Social {
          height: 24px;

          span {
            font-size: 24px;
          }

          .likes {
            padding-left: 10px;

            .fa-heart {
              font-size: 20px;
            }

            .fas {
              display: none;
            }
          }
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: none;
  align-items: center;
  height: 60px;

  &Text {
    color: $black;
    font-size: 18px;
    font-weight: bold;
  }

  &Content {
    position: absolute;
    top: 0;
    left: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: $color-primary;

    &-item {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        position: relative;
        height: 20px;
        color: $color-white;
        padding: 15px 10px 15px 10px;

        &.active {
          background-color: white;
          color: $color-primary;
          border: 1px solid $color-primary;
          border-radius: 5px 0 0 5px;
        }
      }

      &:not(:first-child) {
        display: none;
      }

      .fa-angle-up {
        color: white;
        padding: 15px 10px;
        font-size: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }


  &.open {
    .dropdownContent-item {
      &:first-child {
        .active {
          border-radius: 5px 0 0 0;
        }
      }

      &:nth-child(2) {
        .active {
          border-radius: 0;
        }
      }

      &:nth-child(3) {
        .active {
          border-radius:  0 0 0 5px;
        }
      }

      &:not(:first-child) {
        display: block;
        position: relative;

        &::before {
          background-color: #fff;
          content: "";
          height: 1px;
          width: calc(100% - 20px);
          position: absolute;
          top: 0;
          left: 10px;
        }
      }

        i.fa-angle-up {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media only screen and (min-width: $bp-tablet-lg) {
  .dropdown {
    display: flex;
    margin: 0 5vw 20px;
  }
}

.photographerInfo {
  display: none;
}

@media only screen and (min-width: $bp-tablet-lg) {
  .photographerInfo {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 70px;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
    background-color: $bg-primary;
    padding: 20px 30px 10px;

    &-likes {
      padding-right: 60px;
      position: relative;

      &::before {
        content: attr(data-likes);
      }
    }

    &-prices {
      &::after {
        position: relative;
        content: "€ / jour";
      }
    }
  }
}

.modalContact {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0;
  border: none;
  display: none;

  &-form {
    position: relative;
    background-color: $bg-primary;
    height: calc(100% - 40px);
    padding: 20px;

    h1 {
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 25px;
    }

    .close {
      position: absolute;
      background: none;
      border: none;
      top: 20px;
      right: 20px;

      i {
        font-size: 32px;

        &::before {
          color: white;
        }
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &[data-error]::after {
      content: attr(data-error);
      opacity: 0;
      font-size: 12px;
      transition: opacity .3s ease-in-out;
      color: $black;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    &[data-error-visible="true"]::after {
      opacity: 1;
    }
  }

  &-label {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  &-input {
    border-radius: 5px;
    border: none;
    height: 40px;

    &#message {
      height: 20vh;
    }
  }
}

.modalPicture {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.693);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 0;
  border: none;
  display: block;
  text-align: -webkit-center;
  z-index: 1;

  .pictureItem {
    &.active {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: fit-content;
    }
  }

  .arrow {
    position: absolute;
    width: fit-content;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: $color-primary;
    z-index: 1;

    &-left {
      left: 3px
    }

    &-right {
      right: 3px;
    }
  }

  &-close {
    position: absolute;
    width: fit-content;
    font-size: 50px;
    margin: 40px;
    right: 0;
    top: 0;
    color: $color-primary;
  }
}

@media only screen and (min-width: $bp-tablet) {
  .modalPicture {
    .pictureItem {
      &.active {
        .pictureItem-img {
          width: 80%;

          img, video {
            height: auto;
            width: 100%;
            max-height: 100vh;            
          }
        }

        .pictureItem-contentSocial {
          display: none;
        }
      }

      &-content {
        width: 80%;
      }
    }

    .arrow {
      font-size: 50px;

      &-left {
        left: 30px
      }

      &-right {
        right: 30px;
      }
    }
  } 
}

@media only screen and (min-width: $bp-tablet-lg) {
  .modalContact {
    &-form {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);;
      max-height: 900px;
      max-width: 600px;
      box-shadow: $shadow;
    }

    &-input {
      &#message {
        height: 30vh;
      }
    }
  }
}
